In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
os.chdir(r"E:\003 IBM CE\3. Artificial Intelligence\Mody\16 Naive Bayes")

In [3]:
data=pd.read_csv("Social_Network_Ads.csv")

In [4]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
data.shape

(400, 5)

In [6]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [7]:
x=data[['Age', 'EstimatedSalary']]

In [8]:
y=data['Purchased']

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=200)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [11]:
x_train=sc.fit_transform(x_train)

C:\Users\sande\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\sande\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [12]:
x_test=sc.transform(x_test)

C:\Users\sande\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [13]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()

In [14]:
classifier.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [15]:
y_pred=classifier.predict(x_test)

In [16]:
from sklearn.metrics import confusion_matrix

In [17]:
confusion_matrix(y_pred,y_test)

array([[48,  6],
       [ 1, 25]], dtype=int64)