In [1]:
import os
import pandas as pd

In [3]:
os.chdir(r"C:\Users\ABC\Documents\IBM AI 6th sem\8. Linear Regression")

In [4]:
data=pd.read_csv("regression.csv")

In [5]:
data.head()

         x1        x2          y
0 -0.635764  0.241162 -32.718033
1  0.644243  0.425391  59.923622
2 -0.407295  0.865839   7.470409
3 -0.551043  1.673688  30.181461
4  1.354318 -0.459583  71.860641

# Simple Linear Regression

In [6]:
x=data[['x1']] #vector form
x

           x1
0   -0.635764
1    0.644243
2   -0.407295
3   -0.551043
4    1.354318
..        ...
995 -0.536960
996  0.022858
997 -0.063132
998  0.280296
999  0.329151

[1000 rows x 1 columns]

In [8]:
type(x) # Dataframe but 2-D array also
x.shape

(1000, 1)

In [10]:
y=data.y
y

0     -32.718033
1      59.923622
2       7.470409
3      30.181461
4      71.860641
         ...
995    14.520609
996    -1.187595
997    -2.308294
998     3.192333
999    14.624027
Name: y, Length: 1000, dtype: float64

In [11]:
y.shape

(1000,)

In [10]:
import sklearn.linear_model as linear_model

In [12]:
# Create instance of the model
reg = linear_model.LinearRegression(fit_intercept=True) #Bydefault = True only

In [13]:
reg=reg.fit(x,y)

In [14]:
reg.intercept_  #beta0

-1.0685191599872255

In [15]:
reg.coef_  #beta1

array([65.04668995])

In [16]:
# Prediction for an unknown value of x, only 1 value if model is simple linear.
reg.predict([[5]])

array([324.16493058])

In [17]:
reg.coef_*5 + reg.intercept_

array([324.16493058])

# Multinomial Linear Regression

In [18]:
x=data.drop('y',axis=1)

In [19]:
y=data.y

In [20]:
reg1=linear_model.LinearRegression(fit_intercept=True)

In [21]:
reg1=reg.fit(x,y)

In [22]:
reg.intercept_

1.8245405186689823e-12

In [23]:
reg.coef_

array([66.62336171, 39.96791569])

In [24]:
reg.predict([[10,20]])

array([1465.59193093])